* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

html {
    overflow-x: hidden;
    font-size: 62.5%;
    direction: rtl;
    font-family: "IRANYekanXFaNum", sans-serif;
}

body {
    height: 200vh;
}

/* ///////////////////////////////// BANNER ///////////////////////////////// */

header {
    position: sticky;
    z-index: 1;
    top: 0;
    right: 0;
    box-shadow: 0 0.05rem 0.5rem rgba(0, 0, 0, 0.2);
}

.banner {
    height: 6rem;
    width: 100vw;
    background-color: #ED1844;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-link {
    &:link, &:visited {
        text-decoration: none;
    }
}

.banner-text {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 200;
}

.strong {
    font-weight: 700;
}

/* ///////////////////////////////// HEADER ///////////////////////////////// */

.section-header {
    background-color: #fff;
    max-width: 100vw;
    padding: 1.6rem 2.4rem 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


.header-leftSide, .header-rightSide {
    display: flex;
    align-items: center;
}

.header-rightSide {
    gap: 2rem;
}

.header-searchbar {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    background-color: #F0F0F1;
    border-radius: 6px;
    padding: 0 1.6rem;
}

.header-searchbar-icon {
    height: 2.4rem;
    width: 2.4rem;
    color: #81858B;
}

.header-searchbar-input {
    height: 4.2rem;
    width: 54rem;
    border: none;
    font-family: inherit;
    font-size: 1.2rem;
    background-color: #F0F0F1;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo-img {
    width: 195px;
}


.header-leftSide {
    gap: 1.6rem;
}

.header-btn-login {
    font-family: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
    gap: 0.8rem;
    background-color: #fff;
    padding: 0.8rem 1.6rem;
    border-radius: 8px;
    border: 1.4px #E0E0E2 solid;
}

.header-btn-icon {
    transform: scaleX(-1);
    height: 2.4rem;
    width: 2.4rem;
}

/* ///////////////////////////////// CATEGORY ///////////////////////////////// */
.section-category {
    background-color: #fff;
    max-width: 100vw;
    padding: 1.6rem 2.4rem 0.6rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.category-options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
}

.category-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.category-option-text {
    color: #6F666D;
    font-weight: 400;
    font-size: 1.2rem;
}

.category-option-icon {
    color: #6F666D;
    height: 1.8rem;
    width: 1.8rem;
}

.category-option--first .category-option-text {
    color: #424750;
    font-weight: 600;
    font-size: 1.4rem;
}

.category-option--first .category-option-icon {
    color: #424750;
    height: 2.2rem;
    width: 2.2rem;
}

.category-city-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.2rem;
    font-family: inherit;
    padding: 0.7rem 1.2rem;
    color: #F57F17;
    background-color: #FEF6EF;
    border: none;
    border-radius: 300px;
    font-weight: 600;
}

.category-city-icon {
    height: 2rem;
    width: 2rem;
}

/* ///////////////////////////////// STORIES ///////////////////////////////// */
.section-stories {
    max-width: 90vw;
    padding: 1.6rem 2.4rem 1.6rem;
    margin: 0 auto;
    display: flex;
    gap: 2.4rem;
    justify-content: space-between;
    align-items: center;
    overflow-x: scroll;
}

.stories-story {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    flex-basis: min-content;
}

.story-text {
    text-align: center;
    font-size: 1.1rem;
    line-height: 2;
}

.story-img {
    border-radius: 10000px;
    border: 3px solid #A4469B;
    padding: 2px;
    height: 8.6rem;
}

/* ///////////////////////////////// SLIDER ///////////////////////////////// */
.section-slider {
    overflow-x: hidden;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 2.4rem;
}

.slider-img {
    z-index: -1;
    min-width: 140%;
}

/* ///////////////////////////////// PROMOTION ///////////////////////////////// */
.section-promotion {
    max-width: 90vw;
    padding: 1.6rem 2.4rem 1.6rem;
    margin: 2.4rem auto;
    display: flex;
    justify-content: space-around;
}


.promotion-promote {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
    flex-basis: min-content;
}

.promote-icon {
    height: 3.4rem;
    width: 3.4rem;
    color: white;
    padding: 1rem;
    border-radius: 50%;
    background: #ED1944;

}

.promote-icon--more {
    background: #F0F0F1;
    color: #A1A3A8;
}

.promote-text {
    text-align: center;
    line-height: 2;
    font-size: 1.1rem;
    color: #424750;
    font-weight: 600;
}

/* ///////////////////////////////// AMAZING ///////////////////////////////// */
.section-amazing {
    max-width: 87.4vw;
    padding: 1.6rem 0 1.6rem;
    margin: 0 auto;
    background: #D42D4E;
    border-radius: 15px;
    display: flex;
    overflow-x: scroll;
}

.amazing-img {
    height: 9rem;
}

.amazing-main {
    padding: 0 4.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
}

.amazing-timer {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.amazing-time {
    padding: 0.3rem 0.5rem;
    border-radius: 4px;
    color: #424750;
    font-weight: 700;
    font-size: 1.6rem;
    background-color: white;
}

.amazing-showall {
    display: flex;
    align-items: center;
    gap: 0.4rem;

    &:link, &:visited {
        text-decoration: none;
        color: #fff;
        font-size: 1.2rem;
        font-weight: 600;
    }
}

.amazing-products {
    display: flex;
    justify-content: space-around;
    gap: 0.4rem;
}

.amazing-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: min-content;
    padding: 1.4rem;
    gap: 1.2rem;
    background-color: #fff;
}

.amazing-product-text {
    font-size: 1.4rem;
}

.amazing-product:first-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.amazing-product:last-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-left: 1.6rem;
}


.amazing-product-icon {
    height: 6.4rem;
    width: 6.4rem;
    padding: 0 3.8rem;
    color: #19BFD3;
}

.amazing-product-name {
    text-align: right;
    color: #424750;
    line-height: 1.8;
    font-size: 1.2rem;
}

.amazing-product-price {
    display: flex;
    /*flex-wrap: wrap;*/
    align-items: center;
    gap: 4rem;
    justify-content: space-between;
}

.amazing-product-price-number {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    gap: 0.2rem;
    font-weight: 500;
}

.amazing-product-off {
    background-color: #ED1844;
    color: white;
    padding: 0.2rem 0.8rem;
    font-weight: 600;
    border-radius: 100px;
    font-size: 1.2rem;
}

.amazing-product-img {
    height: 14rem;
}

.amazing-product-price-old {
    font-size: 1.3rem;
    color: #bcbcbc;
    text-decoration: line-through;
    /* ?????????????????? TEMP ?????????????????? */
    margin-right: 4.5rem;
    margin-top: -1.5rem;
    /* ?????????????????? ??????????????????*/
}